.navbar-brand,
.navbar-nav li a {
    vertical-align: middle;
    line-height: 130px;
    height: 110px;
    padding-top: 10px;
}

header img, header nav {
    display: inline-block;
    vertical-align: middle;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.align-middle {
    vertical-align: middle;

}

.col-centered{
float:right;
padding-top: 30px;
margin: 0 auto;
}

.myMargin{
padding: 6px 2px 2px 4px;
margin: 0px 0px 0px 0px;
vertical-align: middle;
    text-align: center;
    min-height: 80;
background-color: whitesmoke;
}

.myMarginRighttColumn{
padding: 25px 2px 25px 4px;
margin: 0px 0px 0px 0px;
    text-align: left;
background-color: whitesmoke;
}

.navMargin{
    padding: 4px 2px 4px 4px;
    margin: 0px 0px 0px 0px;
    vertical-align: middle;
    text-align: center;
    background-color: whitesmoke;
}

.navMargin2{
    padding: 10px 4px 12px 15px;
    margin: 0px 0px 0px 0px;
    vertical-align: middle;
    text-align: left;
    background-color: whitesmoke;
}

.navMargin3{
    padding: 4px 2px 8px 4px;
    margin: 0px 0px 0px 0px;
    vertical-align: middle;
    text-align: left;
    background-color: whitesmoke;
}



body { padding-top: 126px;  overflow-x:hidden ; }



.fixed {
    max-height: 100%;
    min-height: 400px;
    overflow-x: hidden;
    background: white;
}
.scrollit {
    max-height: 100%;
    overflow-y: scroll;
    background: white;
}